$service-name:      'arabic';
$language:          'ar';
$direction:         rtl;
$text-direction:    right;
$arabic: true;

$lineheight:        1.8rem;

$fsize-xs:          1.2rem;
$fsize-sm:          1.3rem;
$fsize-normal:      1.4rem;
$fsize-big:         1.6rem;

$fsize-h1:          2.1rem;
$fsize-h2:          1.5rem;