$service-name:      'english';
$language:          'en';
$direction:         ltr;
$text-direction:    left;
$text-reverse:      right;
$english:           true;

$lineheight:        1.8rem;

$fsize-sm:          1.2rem;
$fsize-normal:      1.3rem;
$fsize-md:          1.4rem;
$fsize-lg:          1.6rem;

$fsize-h1:          2.1rem;
$fsize-h2:          1.5rem;

$font-family:       'noto_sansregular', Arial, "Helvetica Neue", Helvetica, sans-serif;