$color-primary:        #1AB394;
$color-secondary:      #1AB394;
$color-neutral:        #fff;

$color-copy1:          #888;
$color-copy2:          #536570;
$color-link:           #004C66;

$color-border:         #ddd;