/*culture specific styles should go here*/

@import '_settings-ar-AE';

@font-face {
    font-family: 'noto_kufi_arabicregular';
    src: url('/fonts/notosans-ar/notokufiarabic-regular-webfont.woff2') format('woff2'),
        url('/fonts/notosans-ar/notokufiarabic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'noto_kufi_arabicregular';
    src: url('/fonts/notosans-ar/notokufiarabic-bold-webfont.woff2') format('woff2'),
        url('/fonts/notosans-ar/notokufiarabic-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html{
    direction: $direction;
}
body{
    font-family: $font-family;
    line-height: $lineheight;
    font-size: $fsize-normal;
    text-align: $text-direction;
}


//----------------------------------------------------
//ovverrides: forms
.form-group{
    margin-bottom: ($lineheight / 2);
}
label{
    margin-bottom: 0;font-weight: normal;
}
.form-control{
    height: ($lineheight * 1.5);padding: 0 1rem;line-height: ($lineheight * 1.5);font-size: $fsize-sm;
}

.form-lg{
    label{
        font-size: $fsize-md;
}
    .form-control{
        height: ($lineheight * 2);line-height: ($lineheight * 2);
    }
}
.checkbox-primary{
    margin-#{$text-reverse}: .5rem;
    input[type="checkbox"]{
        + label{
            width: $lineheight;height: $lineheight;
        }
    }
}

//----------------------------------------------------
//ovverrides: buttons
.btn{
    font-size: $fsize-normal;line-height: $lineheight;padding: ($lineheight / 6) .9rem (($lineheight / 6) + .1rem);font-family: $font-family;
    &.btn-lg{
        font-size: $fsize-lg;padding: (($lineheight / 2) - .1rem) .9rem;
    }
    &.btn-sm{
        font-size: $fsize-sm;
    }
}

//----------------------------------------------------
//ovverrides: tables
th{
    text-align: $text-direction;
}
.table{
    margin-bottom: $lineheight;font-size: $fsize-normal;
    > thead{
        > tr{
            th{
                border-bottom-width: .1rem;border-bottom-style: solid;padding: ($lineheight) 1rem ($lineheight - .1rem);line-height: $lineheight;font-weight: normal;font-size: $fsize-h2;
            }
        }
    }
    > tbody{
        > tr{
            td{
                border-bottom-width: .1rem;border-bottom-style: solid;padding: (($lineheight / 6) + .1rem) 1rem;line-height: ($lineheight * 1.5);font-weight: normal;border-top: 0;
                
                &:first-of-type{
                    padding-#{$text-direction}: 1.5rem;
                }
            }
        }
    }
}

//----------------------------------------------------
//misc
.text-left{
    text-align: $text-direction;
}
.text-right{
    text-align: $text-reverse;
}


//----------------------------------------------------
.avatar-holder{
    float: $text-direction;
}
.header-tools{
    float: $text-reverse;
}


//----------------------------------------------------
.toolsarea-level1{
    .breadcrumb{
        float: $text-direction;
    }
}
.tools-level1{
    float: $text-reverse;
}

//----------------------------------------------------
.panel{
    margin-bottom: $lineheight;
}
.panel-heading{
    padding: ($lineheight / 2) 1.4rem (($lineheight / 2) - .1rem);margin: 0 -.1rem;font-size: $fsize-lg;
}
.panel-title{
    float: $text-direction;
}
.panel-body{
    padding: ($lineheight / 2) 1.5rem;
}

.panel-secondary{
    > .panel-heading{
        padding: ($lineheight) 1.5rem;text-align: center;
        > .panel-title{
            float: none;font-size: $fsize-h1;text-transform: uppercase;
        }
    }
    > .panel-body{
        padding: ($lineheight) 1.5rem;
    }
}

//----------------------------------------------------