<div class="modal-header">
    <h3 class="modal-title" id="modal-title" ng-bind="$ctrl.data.headingText">Heading</h3>
    <div class="toolsarea">
        <button type="button" class="btn btn-round btn-risky" data-ng-click="$ctrl.cancel()">
            <span class="sr-only">Close dialog box</span>
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
</div>
<div class="modal-body" id="modal-body">
    <p class="text-center" ng-bind="$ctrl.data.description"></p> 
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-primary btn-block" type="button" data-ng-click="$ctrl.ok()" ng-bind="$ctrl.data.confirmText">OK</button>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-default btn-risky btn-block" type="button" data-ng-click="$ctrl.cancel()" ng-bind="$ctrl.data.cancelText">Cancel</button>
        </div>
    </div>
</div>