<div class="modal-header">
    <h1 class="modal-title" id="modal-title" data-ng-bind="userDialog.data.headingText">Heading</h1>
    <div class="toolsarea">
        <button type="button" class="btn btn-round btn-risky" data-ng-click="userDialog.cancel()">
            <span class="sr-only">Close dialog box</span>
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
</div>
<div class="modal-body relative-parent" id="modal-body">
    <form name="userDialog.formCreateUpdate" data-ng-submit="userDialog.createUpdateUser()" novalidate>
        <div class="form-group">
            <label for="inputFirstName">First Name</label>
            <input type="text" class="form-control" id="inputFirstName" name="inputFirstName" data-ng-model="userDialog.user.firstName" maxlength="50" autofocus>
            <div class="errinfo-wrapper">
                <span class="errinfo" data-ng-show="userDialog.formCreateUpdate.inputFirstName.$error.maxlength && userDialog.formCreateUpdate.inputFirstName.$touched">Maximum 50 characters allowed.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputLastName">Last Name</label>
            <input type="text" class="form-control" id="inputLastName" name="inputLastName" data-ng-model="userDialog.user.lastName" maxlength="50">
            <div class="errinfo-wrapper">
                <span class="errinfo" data-ng-show="userDialog.formCreateUpdate.inputLastName.$error.maxlength && userDialog.formCreateUpdate.inputLastName.$touched">Maximum 50 characters allowed.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputName">User Login<sup class="status-req">*</sup></label>
            <input type="text" class="form-control" id="inputName" name="inputName" data-ng-model="userDialog.user.userName" required>
            <div class="errinfo-wrapper">
                <span class="errinfo" data-ng-show="userDialog.formCreateUpdate.inputName.$error.required && userDialog.formCreateUpdate.inputName.$touched">Please fill in the user name.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress1">Address1</label>
            <input type="text" class="form-control" id="inputAddress1" name="inputAddress1" data-ng-model="userDialog.user.address1" maxlength="100">
            <div class="errinfo-wrapper">
                <span class="errinfo" data-ng-show="userDialog.formCreateUpdate.inputAddress1.$error.maxlength && userDialog.formCreateUpdate.inputAddress1.$touched">Maximum 100 characters allowed.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress1">Address2</label>
            <input type="text" class="form-control" id="inputAddress2" name="inputAddress2" data-ng-model="userDialog.user.address2" maxlength="100">
            <div class="errinfo-wrapper">
                <span class="errinfo" data-ng-show="userDialog.formCreateUpdate.inputAddress2.$error.maxlength && userDialog.formCreateUpdate.inputAddress2.$touched">Maximum 100 characters allowed.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress1">Address3</label>
            <input type="text" class="form-control" id="inputAddress3" name="inputAddress3" data-ng-model="userDialog.user.address3" maxlength="100">
            <div class="errinfo-wrapper">
                <span class="errinfo" data-ng-show="userDialog.formCreateUpdate.inputAddress3.$error.maxlength && userDialog.formCreateUpdate.inputAddress3.$touched">Maximum 100 characters allowed.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress1">Address4</label>
            <input type="text" class="form-control" id="inputAddress4" name="inputAddress4" data-ng-model="userDialog.user.address4" maxlength="100">
            <div class="errinfo-wrapper">
                <span class="errinfo" data-ng-show="userDialog.formCreateUpdate.inputAddress4.$error.maxlength && userDialog.formCreateUpdate.inputAddress4.$touched">Maximum 100 characters allowed.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" name="inputEmail" data-ng-model="userDialog.user.email" maxlength="50">
            <div class="errinfo-wrapper">
                <span class="errinfo" data-ng-show="userDialog.formCreateUpdate.inputEmail.$error.email && userDialog.formCreateUpdate.inputEmail.$touched">Invalid email format</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputBranchIds">Branch</label>
            <ui-select id="inputBranchIds" multiple ng-model="userDialog.user.branchIds">
                <ui-select-match allow-clear="true">
                    <span ng-bind="$item.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in (userDialog.selectedListData.branchList | filter: $select.search) track by item.id">
                    <span ng-bind="item.name"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label for="inputRoleIds">Roles</label>
            <ui-select id="inputRoleIds" multiple ng-model="userDialog.user.roleIds">
                <ui-select-match allow-clear="true">
                    <span ng-bind="$item.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in (userDialog.selectedListData.roleList | filter: $select.search) track by item.id">
                    <span ng-bind="item.name"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label for="inputDepartmentIds">Department</label>
            <ui-select id="inputDepartmentIds" multiple ng-model="userDialog.user.departmentIds">
                <ui-select-match allow-clear="true">
                    <span ng-bind="$item.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in (userDialog.selectedListData.departmentList | filter: $select.search) track by item.id">
                    <span ng-bind="item.name"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label for="inputTimeZone">TimeZone</label>
            <input type="text" name="inputTimeZone" id="inputTimeZone" class="form-control" data-ng-model="userDialog.user.timeZone" data-ng-pattern="/^(?:Z|[+-](?:2[0-3]|[01][0-9]):[0-5][0-9])$/">
            <div class="errinfo-wrapper">
                <span class="errinfo" data-ng-show="userDialog.formCreateUpdate.inputTimeZone.$error.pattern && userDialog.formCreateUpdate.inputTimeZone.$touched">Needs to be a valid timezone (ex: +02:30)</span>
            </div>
        </div>
        <div class="submit-group">
            <div class="row">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" data-ng-bind="userDialog.data.confirmText" data-ng-disabled="!userDialog.validateUserDetail()">OK</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-default btn-risky btn-lg btn-block" data-ng-click="userDialog.cancel()" data-ng-bind="userDialog.data.cancelText">Cancel</button>
                </div>
            </div>
        </div>
    </form>
    <ng-include src="'js/modules/common/commonTemplates/loader.template.html'" ng-show="userDialog.isLoading"></ng-include>
</div>