<div class="modal-header">
    <h1 class="modal-title" id="modal-title" data-ng-bind="deptDialog.data.headingText">Heading</h1>
    <div class="toolsarea">
        <button type="button" class="btn btn-round btn-risky" data-ng-click="deptDialog.cancel()">
            <span class="sr-only">Close dialog box</span>
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
</div>
<div class="modal-body relative-parent" id="modal-body">
    <form name="deptDialog.formCreateUpdate" data-ng-submit="deptDialog.createUpdateDepartment()" novalidate>
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" name="inputName" data-ng-model="deptDialog.department.name" required>
            <div class="errinfo-wrapper">
                <span class="errinfo" data-ng-show="deptDialog.formCreateUpdate.inputName.$error.required && deptDialog.formCreateUpdate.inputName.$touched">Please fill in the branch name.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputCode">Code</label>
            <input type="text" class="form-control" id="inputCode" name="inputCode" data-ng-model="deptDialog.department.code" maxlength="50">
            <div class="errinfo-wrapper">
                <span class="errinfo" data-ng-show="deptDialog.formCreateUpdate.inputCode.$error.maxlength && deptDialog.formCreateUpdate.inputCode.$touched">Maximum 50 characters allowed.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress1">Description</label>
            <textarea class="form-control" id="inputDescription" name="inputDescription" data-ng-model="deptDialog.department.description"  maxlength="100" cols="30" rows="4"></textarea>
            <div class="errinfo-wrapper">
                <span class="errinfo" data-ng-show="deptDialog.formCreateUpdate.inputAddress1.$error.maxlength && deptDialog.formCreateUpdate.inputAddress1.$touched">Maximum 100 characters allowed.</span>
            </div>
        </div>
        <div class="submit-group">
            <div class="row">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" data-ng-click="deptDialog.nextTab()" data-ng-bind="deptDialog.data.confirmText" data-ng-disabled="!deptDialog.validateDepartmentDetail()">OK</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-default btn-risky btn-lg btn-block" data-ng-click="deptDialog.cancel()" data-ng-bind="deptDialog.data.cancelText">Cancel</button>
                </div>
            </div>
        </div>
    </form>
    <ng-include src="'js/modules/common/commonTemplates/loader.template.html'" ng-show="deptDialog.isLoading"></ng-include>
</div>