<div class="modal-header">
    <h1 class="modal-title" id="modal-title" ng-bind="roleDialog.data.headingText">Heading</h1>
</div>
<div class="modal-body" id="modal-body">
    <uib-tabset active="roleDialog.activeTab">
        <uib-tab index="0" heading="Role Details">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-lg">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" data-ng-model="roleDialog.role.name">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" rows="4" cols="50" data-ng-model="roleDialog.role.description"></textarea>
                        </div>
                        <div class="submit-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-primary btn-lg btn-block" data-ng-click="roleDialog.nextTab()" ng-bind="roleDialog.data.confirmText" data-ng-disabled="!roleDialog.validateRoleDetail()">OK</button>
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-default btn-lg btn-block" data-ng-click="roleDialog.cancel()" ng-bind="roleDialog.data.cancelText">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Permission &amp; Priviliges" disable="!roleDialog.validateRoleDetail()">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-lg">
                        <div class="row">
                            <div class="col-xs-5">
                                <fieldset>
                                    <ul class="list-unstyled">
                                        <li data-ng-repeat="(item, enabled) in roleDialog.unselectedPermissions">
                                            <div class="checkbox-primary">
                                                <input type="checkbox" id="inputUnselectedRoles{{$index}}" name="inputUnselectedRoles" data-ng-model="roleDialog.unselectedPermissions[item]">
                                                <label for="inputUnselectedRoles{{$index}}">{{item}}</label>
                                            </div>
                                            <label for="inputUnselectedRoles{{$index}}">{{item}}</label>
                                        </li>
                                    </ul>
                                </fieldset>
                            </div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-primary btn-sm btn-block" ng-click="roleDialog.movePermissions(roleDialog.unselectedPermissions, roleDialog.selectedPermissions)">&rarr;</button>
                                <button type="button" class="btn btn-primary btn-sm btn-block" ng-click="roleDialog.movePermissions(roleDialog.unselectedPermissions, roleDialog.selectedPermissions, true)">&rArr;</button>
                                <button type="button" class="btn btn-primary btn-sm btn-block" ng-click="roleDialog.movePermissions(roleDialog.selectedPermissions, roleDialog.unselectedPermissions)">&larr;</button>
                                <button type="button" class="btn btn-primary btn-sm btn-block" ng-click="roleDialog.movePermissions(roleDialog.selectedPermissions, roleDialog.unselectedPermissions, true)">&lArr;</button>
                            </div>
                            <div class="col-xs-5">
                                <fieldset>
                                    <ul class="list-unstyled">
                                        <li data-ng-repeat="(item, enabled) in roleDialog.selectedPermissions">
                                            <div class="checkbox-primary">
                                                <input type="checkbox" id="inputSelectedRoles{{$index}}" name="inputSelectedRoles" data-ng-model="roleDialog.selectedPermissions[item]">
                                                <label for="inputSelectedRoles{{$index}}">{{item}}</label>
                                            </div>
                                            <label for="inputSelectedRoles{{$index}}">{{item}}</label>
                                        </li>
                                    </ul>
                                </fieldset>
                            </div>
                        </div>
                        <div class="submit-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-primary btn-lg btn-block" data-ng-click="roleDialog.createUpdateRole()" ng-bind="roleDialog.data.confirmText" data-ng-disabled="!roleDialog.validateRoleDetail()">OK</button>
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-default btn-lg btn-block" data-ng-click="roleDialog.cancel()" ng-bind="roleDialog.data.cancelText">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>