<div class="modal-header">
    <h1 class="modal-title" id="modal-title" ng-bind="roleDialog.data.headingText">Heading</h1>
</div>
<div class="modal-body" id="modal-body">
    <uib-tabset active="roleDialog.activeTab">
        <uib-tab index="0" heading="Role Details">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-lg">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" data-ng-model="roleDialog.role.name">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" rows="4" cols="50" data-ng-model="roleDialog.role.description"></textarea>
                        </div>
                        <div class="submit-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-primary btn-lg btn-block" data-ng-click="roleDialog.ok()" ng-bind="roleDialog.data.confirmText" data-ng-disabled="!roleDialog.validateRoleDetail()">OK</button>
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-default btn-lg btn-block" data-ng-click="roleDialog.cancel()" ng-bind="roleDialog.data.cancelText">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Permission &amp; Priviliges" disable="!roleDialog.validateRoleDetail()">
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="row">
                            <div class="col-xs-5">
                                <fieldset>
                                    <ul>
                                        <li>
                                            <input type="checkbox" id="id1"><label for="id1">text1</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="id2"><label for="id2">text1</label>
                                        </li>
                                    </ul>
                                </fieldset>
                            </div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-primary btn-sm btn-block">&rarr;</button>
                                <button type="button" class="btn btn-primary btn-sm btn-block">&rArr;</button>
                                <button type="button" class="btn btn-primary btn-sm btn-block">&larr;</button>
                                <button type="button" class="btn btn-primary btn-sm btn-block">&lArr;</button>
                            </div>
                            <div class="col-xs-5"></div>
                        </div>
                    </form>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>