<!--toolsarea starts here-->
<div class="wrapper-toolsarea">
    <!--toolsarea-level1 starts here-->
    <div class="toolsarea-level1">
        <div class="wrapper-inner">
            <ol class="breadcrumb">
                <li><a ui-sref="root.dashboard">Home</a></li>
                <li><a href="#">Administration</a></li>
                <li>Branch Management</li>
            </ol>
            <ul class="tools-level1">
                <li class="tools-item">
                    <button type="button" class="btn btn-primary" data-ng-click="branch.onCreateBranchInitiate()">Create Branchs</button>
                </li>
                <li class="tools-item">
                    <form data-ng-submit="branch.loadBranchData()" data-ng-include="'js/modules/branch/search.template.html'"></form>
                </li>
            </ul>
        </div>
    </div>
    <!--toolsarea-level1 ends here-->
    <!--toolsarea-level2 starts here-->
    <div class="toolsarea-level2">
        <div class="wrapper-inner">
            <ul class="tools-level2">
                <li class="tools-item">
                    <button type="button" class="btn btn-primary" data-ng-click="branch.isExpandedState = !branch.isExpandedState">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                        <span class="sr-only">Toggle Sidenav</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <!--toolsarea-level2 ends here-->
</div>
<!--toolsarea ends here-->
<div class="app-area" data-ng-class="{'collapsed': !branch.isExpandedState}">
    <!--sidenav starts here-->
    <div class="sidenav-overlay" data-ng-click="branch.isExpandedState = !branch.isExpandedState"></div>
    <div class="wrapper-sidenav">
        <tree collection="branch.itemTree" selected-folder="branch.selectedFolder"></tree>
    </div>
    <!--sidenav ends here-->
    <!--main starts here-->
    <main class="wrapper-main flex-parent">
        <div class="wrapper-main-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="relative-parent">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Branch Name</th>
                                    <th class="text-right">Created Date</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="item in branch.branchList track by item.id">
                                    <td data-ng-bind="item.name"></td>
                                    <td class="text-right" data-ng-bind="item.createdDate | date"></td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-iconed" title="Edit" data-ng-click="branch.onUpdateBranchInitiate(item)">
                                            <span class="glyphicon glyphicon-edit"></span>
                                            <span class="sr-only">Edit</span>
                                        </button>
                                        <button type="button" class="btn btn-iconed btn-risky" title="Delete" data-ng-click="branch.onDeleteBranchInitiate(item)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                            <span class="sr-only">Delete</span>
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-if="!branch.branchList.length">
                                    <td colspan="3"><div class="text-center">There are no Branchs to show!!</div></td>
                                </tr>
                            </tbody>
                        </table>
                        <ng-include src="'js/modules/common/commonTemplates/loader.template.html'" ng-show="branch.isLoading"></ng-include>
                    </div>
                    <ul uib-pagination data-total-items="branch.searchOptions.totalItems" data-items-per-page="branch.searchOptions.pageSize" data-ng-model="branch.searchOptions.page" data-ng-change="branch.loadBranchData()"></ul>
                </div>
            </div>
        </div>
        <footer class="wrapper-footer">
            <small class="foot-info">Copyright&copy;2017 FinnDocs Technologies Limited</small>
        </footer>
    </main>
    <!--main ends here-->
</div>