<!--toolsarea starts here-->
<div class="wrapper-toolsarea">
    <!--toolsarea-level1 starts here-->
    <div class="toolsarea-level1">
        <div class="wrapper-inner">
            <ol class="breadcrumb">
                <li><a ui-sref="root.dashboard">Home</a></li>
                <li><a ui-sref="root.dashboard">Administration</a></li>
                <li>Role Management</li>
            </ol>
            <ul class="tools-level1">
                <li class="tools-item">
                    <button type="button" class="btn btn-primary" data-ng-click="role.onCreateRoleInitiate()">Create Roles</button>
                </li>
                <li class="tools-item">
                    <form data-ng-submit="role.loadRoleData()" data-ng-include="'js/modules/role/search.template.html'"></form>
                </li>
            </ul>
        </div>
    </div>
    <!--toolsarea-level1 ends here-->
    <!--toolsarea-level2 starts here-->
    <div class="toolsarea-level2">
        <div class="wrapper-inner">
            <ul class="tools-level2">
                <li class="tools-item">
                    <button type="button" class="btn btn-primary" data-ng-click="role.isExpandedState = !role.isExpandedState">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                        <span class="sr-only">Toggle Sidenav</span>
                    </button>
                </li>
                <!--<li class="tools-item">
<button type="button" class="btn btn-link">
<span class="glyphicon glyphicon-check"></span>
<span class="btn-text">Select All</span>
</button>
</li>
<li class="tools-item">
<button type="button" class="btn btn-link">
<span class="glyphicon glyphicon-trash"></span>
<span class="btn-text">Delete</span>
</button>
</li>-->
            </ul>
        </div>
    </div>
    <!--toolsarea-level2 ends here-->
</div>
<!--toolsarea ends here-->
<div class="app-area" data-ng-class="{'collapsed': !role.isExpandedState}">
    <!--sidenav starts here-->
    <div class="sidenav-overlay" data-ng-click="role.isExpandedState = !role.isExpandedState"></div>
    <div class="wrapper-sidenav">
        <tree collection="role.itemTree" selected-folder="role.selectedFolder"></tree>
    </div>
    <!--sidenav ends here-->
    <!--main starts here-->
    <main class="wrapper-main flex-parent">
        <div class="wrapper-main-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="relative-parent">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <button type="button" class="btn btn-text" data-ng-click="role.onSortByPropertyInitiate('name')">Role Name</button>
                                    </th>
                                    <th class="text-right">
                                        <button type="button" class="btn btn-text" data-ng-click="role.onSortByPropertyInitiate('createdDate')">Created Date</button>
                                    </th>
                                    <th class="text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="item in role.roleList track by item.id">
                                    <td data-ng-bind="item.name"></td>
                                    <td class="text-right" data-ng-bind="item.createdDate | date"></td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-iconed" title="Edit" data-ng-click="role.onUpdateRoleInitiate(item)">
                                            <span class="glyphicon glyphicon-edit"></span>
                                            <span class="sr-only">Edit</span>
                                        </button>
                                        <button type="button" class="btn btn-iconed btn-risky" title="Delete" data-ng-click="role.onDeleteRoleInitiate(item)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                            <span class="sr-only">Delete</span>
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-if="!role.roleList.length">
                                    <td colspan="3"><div class="text-center">There are no Roles to show!!</div></td>
                                </tr>
                            </tbody>
                        </table>
                        <ng-include src="'js/modules/common/commonTemplates/loader.template.html'" ng-show="role.isLoading"></ng-include>
                    </div>
                    <ul uib-pagination data-total-items="role.searchOptions.totalItems" data-items-per-page="role.searchOptions.pageSize" data-ng-model="role.searchOptions.page" data-ng-change="role.loadRoleData()"></ul>
                </div>
            </div>
        </div>
        <footer class="wrapper-footer">
            <small class="foot-info">Copyright&copy;2017 FinnDocs Technologies Limited</small>
        </footer>
    </main>
    <!--main ends here-->
</div>