html{
    direction: $direction;
}
body{
    font-family: $font-family;
    line-height: $lineheight;
    font-size: $fsize-normal;
    text-align: $text-direction;
}

//----------------------------------------------------
//misc
.text-left.text-left{
    text-align: $text-direction;
}
.text-right.text-right{
    text-align: $text-reverse;
}

//----------------------------------------------------
//ovverrides: forms
.form-group{
    margin-bottom: ($lineheight / 2);
}
label{
    margin-bottom: 0;font-weight: normal;
}
.form-control{
    height: ($lineheight * 1.5);padding: 0 1rem;line-height: ($lineheight * 1.5);font-size: $fsize-sm;
}
textarea.form-control{
    height: auto;padding-top: ($lineheight / 2);padding-bottom: ($lineheight / 2);
}

.form-lg{
    .form-group{
        margin-bottom: ($lineheight * 1.5);
    }
    label{
        font-size: $fsize-md;
    }
    .form-control{
        height: ($lineheight * 2);line-height: ($lineheight * 2);
    }
    textarea.form-control{
        height: auto;line-height: $lineheight;
    }
    .submit-group{
        margin: ($lineheight * 2) 0 $lineheight;
    }
    .errinfo:last-child{
        margin-bottom: -($lineheight * 1.5);
    }
}
.checkbox,.radio{
    label{
        padding-#{$text-direction}: 2rem;padding-#{$text-reverse}: 0;
    }
    input[type="checkbox"],input[type="radio"]{
        margin-#{$text-direction}: 0;margin-#{$text-reverse}: 0;#{$text-direction}: 0;
    }
}
.checkbox-primary{
    margin-#{$text-reverse}: .5rem;
    input[type="checkbox"]{
        + label{
            width: $lineheight;height: $lineheight;
        }
    }
}
.submit-group{
    margin: $lineheight 0 0;
    .btn{
        margin-bottom: ($lineheight / 2);
    }
}
.form-group-button{
    position: relative;padding-#{$text-reverse}: ($lineheight * 1.5);
    > .btn{
        position: absolute;top: 0;#{$text-reverse}: 0;
    }
    .form-control{
        /*text-align: $text-reverse;*/
    }
}
.errinfo{
    font-size: $fsize-sm;
    &:before{
        #{$text-direction}: 0;
    }
}

//----------------------------------------------------
//ovverrides: buttons
.btn{
    font-size: $fsize-normal;line-height: $lineheight;padding: ($lineheight / 6) .9rem (($lineheight / 6) + .1rem);font-family: $font-family;
    &.btn-lg{
        font-size: $fsize-lg;padding: (($lineheight / 2) - .1rem) .9rem;
    }
    &.btn-sm{
        font-size: $fsize-sm;
    }
}
.btn-round{
    width: ($lineheight * 1.5);height: ($lineheight * 1.5);padding: 0;line-height: ($lineheight * 1.5);
}
.btn-iconed{
    width: ($lineheight * 1.5);height: ($lineheight * 1.5);padding: 0;line-height: ($lineheight * 1.5);
}
.btn-hasicon{
    padding: 0;
}

//----------------------------------------------------
//ovverrides: tables
th{
    text-align: $text-direction;
}
.table{
    margin-bottom: $lineheight;font-size: $fsize-normal;
    > thead{
        > tr{
            th{
                border-bottom-width: .1rem;border-bottom-style: solid;padding: ($lineheight) 1rem ($lineheight - .1rem);line-height: $lineheight;font-weight: normal;font-size: $fsize-h2;
            }
        }
    }
    > tbody{
        > tr{
            td{
                border-bottom-width: .1rem;border-bottom-style: solid;padding: (($lineheight / 6) + .1rem) 1rem;line-height: ($lineheight * 1.5);font-weight: normal;border-top: 0;

                &:first-of-type{
                    padding-#{$text-direction}: 1.5rem;
                }
            }
        }
    }
}

//----------------------------------------------------
.avatar-holder{
    float: $text-direction;
}
.header-tools{
    float: $text-reverse;
}


//----------------------------------------------------
.toolsarea-level1{
    padding: ($lineheight / 2) 0;
    .breadcrumb{
        float: $text-direction;font-size: $fsize-sm;
        > li{
            margin: ($lineheight / 4) 0 ($lineheight / 4);
        }
    }
}
.tools-level1{
    float: $text-reverse;
}

.toolsarea-level2{
    padding: ($lineheight / 4) 0;
}

//----------------------------------------------------
.panel{
    margin-bottom: $lineheight;
}
.panel-heading{
    padding: ($lineheight / 2) 1.4rem (($lineheight / 2) - .1rem);margin: 0 -.1rem;font-size: $fsize-lg;
}
.panel-title{
    float: $text-direction;
}
.panel-body{
    padding: ($lineheight / 2) 1.5rem;
}

.panel-secondary{
    > .panel-heading{
        padding: ($lineheight) 1.5rem;text-align: center;
        > .panel-title{
            float: none;font-size: $fsize-h1;text-transform: uppercase;
        }
    }
    > .panel-body{
        padding: ($lineheight) 3rem;
    }
}

//----------------------------------------------------
.logo-container{
    margin: ($lineheight * 2) 0 $lineheight;
}

//----------------------------------------------------
//modal
.modal-header{
    padding: ($lineheight) 1.5rem ($lineheight - .1rem);text-align: center;
    .toolsarea{
        #{$text-reverse}: 1rem;top: ($lineheight * 2 / 3);
    }
}
.modal-title{
    line-height: $lineheight;font-size: $fsize-h1;font-weight: normal;
}
.modal-body{
    padding: ($lineheight * 1.5) 3rem;
}

//----------------------------------------------------
//dropdown-menu overrides
.dropdown-menu{
    text-align: $text-direction;font-size: $fsize-sm;
    &.dropdown-menu-right{
        #{$text-reverse}: 0; #{$text-direction}: auto;
    }
    > li{
        > a{
            border-width: 0;border-#{$text-direction}-width: .5rem;
    }
}
}

//----------------------------------------------------
//tabs
.nav-tabs{

    > li{
        > a{
            line-height: $lineheight;padding: ($lineheight / 2) 1.5rem (($lineheight * 1) - 0.5rem);font-weight: $fw-bold;text-decoration: none;
        }
        &.active{
            > a{
                padding: ($lineheight / 2) 1.5rem (($lineheight * 1) - 0.5rem);
            }
        }
    }
}
.tab-content{
    padding-top: $lineheight;
}

//----------------------------------------------------
.wrapper-header{
    padding: ($lineheight / 2) 0;
}
.logo{
    float: $text-direction;
}

//----------------------------------------------------
.wrapper-main{
    padding: $lineheight 3rem 0;
}

//----------------------------------------------------
.box-wrapper{
    margin: ($lineheight * 2) auto $lineheight;
}
.boxes{
    padding: $lineheight 1rem 0;
    > .glyphicon{
        font-size: ($lineheight * 2);line-height: ($lineheight * 2);margin: ($lineheight) auto ($lineheight * 2);
        &:after{
            width: ($lineheight * 4);height: ($lineheight * 4);left: -($lineheight);top: -($lineheight);
        }
    }
    > .title{
        margin: ($lineheight) auto;font-size: $fsize-lg;
    }
}

//----------------------------------------------------
.switchbox{
    > li{
        > label{
            font-size: $fsize-normal;
        }
    }
}

//----------------------------------------------------
@media (max-width: 1200px){
    .wrapper-sidenav{
        #{$text-reverse}: 100%;
        @if $text-reverse == left{
            transform: translate3d(-100%, 0, 0);
        } @else{
            transform: translate3d(100%, 0, 0);
        }
    }
}