$service-name:      'arabic';
$language:          'ar';
$direction:         rtl;
$text-direction:    right;
$text-reverse:      left;
$arabic: true;

$lineheight:        1.8rem;

$fsize-sm:          1.2rem;
$fsize-normal:      1.3rem;
$fsize-md:          1.4rem;
$fsize-lg:          1.6rem;

$fsize-h1:          2.1rem;
$fsize-h2:          1.5rem;

$fw-bold:           bold;

$font-family:       'noto_kufi_arabicregular', Arial, "Helvetica Neue", Helvetica, sans-serif;