$color-primary:        #1AB394;
$color-secondary:      #0699C7;

$color-copy1:          #888;
$color-copy2:          #536570;
$color-link:           #004C66;

$color-border:         #ddd;

$color-bg:             #eee;
$color-neutral:        #fff;
$color-alt:            #233645;

$lineheight:           1.8rem;

$sidenav-width:        30rem;