@import '_settings-en-US';

@font-face {
    font-family: 'noto_sansregular';
    src: url('/fonts/notosans-en/NotoSans-Regular-webfont.eot');
    src: url('/fonts/notosans-en/NotoSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/notosans-en/NotoSans-Regular-webfont.woff') format('woff'),
        url('/fonts/notosans-en/NotoSans-Regular-webfont.ttf') format('truetype'),
        url('/fonts/notosans-en/NotoSans-Regular-webfont.svg#noto_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'noto_sansregular';
    src: url('/fonts/notosans-en/NotoSans-Bold-webfont.eot');
    src: url('/fonts/notosans-en/NotoSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/notosans-en/NotoSans-Bold-webfont.woff') format('woff'),
        url('/fonts/notosans-en/NotoSans-Bold-webfont.ttf') format('truetype'),
        url('/fonts/notosans-en/NotoSans-Bold-webfont.svg#noto_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@import 'lang-main';