/*all structure & color related styles should go here*/

@import 'variables';


html{
    font-size: 62.5%;min-height: 100%;height: 100%;
}
body{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    background: $color-bg;height: 100%;color: $color-copy1;
}
%clearfix{
    &:after{
        content: '.';display: block;height: 0;clear: both;visibility: hidden;
    }
}
.wrapper-all{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
.wrapper-inner{
    @extend %clearfix;
    padding: 0 30px;
}

//----------------------------------------------------
//misc
hr{
    border-top: .1rem solid $color-border;margin: ($lineheight) -1.5rem (($lineheight) - .1rem);
    &.no-margin{
        margin-top: 0;margin-bottom: (($lineheight) - .1rem);
    }
    &.separator-dotted{
        border-style: dashed;
    }
}
.relative-parent{
    position: relative;
}
.flex-parent{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.status-req{
    color: $color-danger;
}

//----------------------------------------------------
//links
a{
    color: $color-link;text-decoration: underline;transition: .3s;
    &:hover, &:focus{
        color: $color-secondary;
    }
}

//----------------------------------------------------
//ovverrides: forms
label{
}
.form-control{
    box-shadow: none;color: $color-copy2;border-radius: .2rem;
    &.ng-invalid.ng-touched{
        border-color: $color-danger;
    }
}

::-webkit-input-placeholder {
    color:    #909;
}
:-moz-placeholder {
    color:    #909;
    opacity:  1;
}
::-moz-placeholder {
    color:    #909;
    opacity:  1;
}
:-ms-input-placeholder {
    color:    #909;
}

.form-lg{
    .form-control{
        border-radius: 0;
    }
}
.checkbox,.radio{
    label{
        position: relative;
    }
    input[type="checkbox"],input[type="radio"]{

    }
}
.checkbox-primary{
    display: inline-block;vertical-align: bottom;
    input[type="checkbox"]{
        width: 0;height: 0;display: block;margin: 0;padding: 0;overflow: hidden;display: none;
        + label{
            display: block;background-color: $color-neutral;border: .1rem solid $color-border;text-indent: 100%;overflow: hidden;white-space: nowrap;position: relative;font-family: 'Glyphicons Halflings';-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;user-select: none;cursor: pointer;

            &:before{
                content: "\e013";color: $color-neutral;opacity: 0;position: absolute;top: -.1rem;left: .1rem;text-indent: 0;transition: .3s opacity;
            }
        }
        &:checked + label{
            background-color: $color-primary;border-color: $color-primary;
            &:before{
                content: "\e013";color: $color-neutral;opacity: 1;
            }
        }
    }
}
.form-group-button{
    > .btn{
        //border-radius: 0 .2rem .2rem 0;
    }
}

.errinfo-wrapper{
    color: $color-neutral;
}
.errinfo{
    display: block;background-color: $color-danger;padding: 0 1rem 0 1.5rem;position: relative;
    &:before{
        content: '';position: absolute;width: .5rem;height: 100%;top: 0;background-color: darken($color-danger, 12%);
    }
    &:first-child{
        padding-top: ($lineheight / 4);
    }
    &:last-child{
        padding-bottom: ($lineheight / 4);
    }
}

//----------------------------------------------------
//ovverrides: buttons
.btn{
    border-radius: .2rem;border-width: .1rem;transition: .3s;
    &:hover, &:focus{
        color: $color-neutral;border-color: $color-secondary;background-color: $color-secondary;
    }
    &.btn-risky:hover, &.btn-risky:focus{
        border-color: $color-danger;background-color: $color-danger;color: $color-neutral;
    }
    &.btn-lg{
        border-radius: 0;
    }
    &[disabled="disabled"]{
        background-color: $color-muted;border-color: $color-border;color: $color-copy1;
        &:hover, &:focus{
            background-color: $color-muted;border-color: $color-border;
        }
    }
}
.btn-primary{
    color: $color-neutral;background-color: $color-primary;border-color: $color-primary;
}
.btn-link, .btn-text{
    color: $color-link;
    &:hover, &:focus{
        background-color: transparent;border-color: transparent;color: $color-secondary;
    }
}
.btn-round{
    border: .1rem solid $color-border;background: $color-neutral;border-radius: 50%;
}
.btn-iconed{
    border: .1rem solid $color-border;background: $color-neutral;border-radius: .2rem;
}

//----------------------------------------------------
//ovverrides: tables

.table{
    background: $color-neutral;color: $color-copy2;
    > thead{
        > tr{
            transition: .3s;
            th{
                border-bottom-color: $color-border;background-color: lighten($color-border, 10%);
            }
        }
    }
    > tbody{
        > tr{
            transition: .3s;
            td{
                border-bottom-color: lighten($color-border, 7%);
            }
        }
    }
}
.table-hover{
    > tbody{
        > tr:hover, > tr:nth-of-type(odd):hover{
            background-color: lighten($color-border, 5%);
        }
    }
}

.table-striped>tbody>tr:nth-of-type(odd){
    background-color: lighten($color-border, 12%);
}

//----------------------------------------------------
//panels
.panel{
    background: $color-neutral;border-radius: .3rem;
}
.panel-heading{
    @extend %clearfix;
    color: $color-copy2;border-bottom: .1rem solid $color-border;
}
.panel-secondary{
    > .panel-heading{
        color: $color-copy2;
    }
}

//----------------------------------------------------
//modal
.modal-header{
    border-bottom: .1rem solid $color-border;color: $color-copy2;position: relative;
    .toolsarea{
        position: absolute;
    }
}

//----------------------------------------------------
//dropdown-menu overrides
.dropdown-menu{
    padding: ($lineheight) 0 ($lineheight / 2);margin-top: 0;border-radius: .2rem;
    &.dropdown-menu-nopad{
        padding: 0;
    }
    &.dropdown-sm{
        min-width: 40rem;
    }
    > li{
        > a{
            padding: ($lineheight / 2) 1rem;text-decoration: none;position: relative;border-style: solid;border-color: transparent;
            &:hover, &:focus{
                border-color: $color-secondary;color: $color-secondary;
            }
        }
    }
    .divider{
        margin: 0;border-bottom: .1rem solid $color-border;
    }
}

//----------------------------------------------------
//datepicker
.uib-datepicker-popup.dropdown-menu{
    min-width: 0;padding-top: 0;
    .uib-weeks{
        .btn{
            border-radius: 0;
        }
    }
}


//----------------------------------------------------
//tabs
.nav-tabs{
    border-bottom: .1rem solid $color-border;
    > li{
        > a{
            border: 0;border-bottom: .5rem solid transparent;border-radius: 0;cursor: pointer;
            &:hover{
                border: 0;border-bottom: .5rem solid $color-secondary;  
            }
        }

        &.active{
            > a{
                border: 0;border-bottom: .5rem solid $color-primary;
                &:hover,&:focus{
                    border: 0;border-bottom: .5rem solid $color-secondary;color: $color-secondary;
                }
            }
        }

        &.disabled{
            > a{
                color: $color-muted;
                &:hover,&:focus{
                    border-bottom-color: $color-border;color: $color-muted;
                }
            }
        }
    }
}

//----------------------------------------------------
.wrapper-loader{
    position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgba(255, 255, 255, 0.8);
}
.loader-anim-box{
    position: absolute;width: 4rem;height: 4rem;margin: -2rem 0 0 -2rem;top: 50%;left: 50%;background: #fff url(/images/ajax-loader.gif) no-repeat 50% 50%;border-radius: 50%;overflow: hidden;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

//----------------------------------------------------
.wrapper-header{
    margin: 0 -15px;background: $color-neutral;border-bottom: .1rem solid $color-border;
}

//----------------------------------------------------
.header-tools{
    @extend %clearfix;
    list-style-type: none;padding: 0;margin: 0;
    > .tools-item{
        display: inline-block;vertical-align: middle;
    }
}
.user-area{

}
.avatar-holder{
    width: 2.5rem;height: ($lineheight * 1.5);
}

//----------------------------------------------------
.wrapper-container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .wrapper-header + &{
        margin: 0 -15px;
    }
}

.toolsarea-level1{
    background: $color-neutral;border-bottom: .1rem solid $color-border;

    .breadcrumb{
        margin: 0;padding: 0;background-color: transparent;
        a{
            text-decoration: none;
        }
    }
}
.tools-level1{
    margin: 0;padding: 0;
    > .tools-item{
        display: inline-block;vertical-align: middle;
    }
}

.toolsarea-level2{
    background: $color-border;
}
.tools-level2{
    margin: 0;padding: 0;
    > .tools-item{
        display: inline-block;
    }
}


//----------------------------------------------------
.app-area{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-grow: 1;
}

//----------------------------------------------------
.wrapper-sidenav{
    flex-basis: $sidenav-width;background-color: $color-alt;color: $color-neutral;overflow: hidden;transition: .3s;
    .app-area.collapsed > &{
        flex-basis: 0;
    }
}
.menu-tree{
    .left-pane > & {
        display: block;padding-left: 0;
    }
    ul{
        padding: 0;margin: 0;
        li{
            border-bottom: .1rem solid lighten($color-alt, 5%);
        }
    }
    .item-name{
        padding-bottom: 2px;color: lighten($color-copy1, 15%);position: relative;
        &.active{
            color: #fff;
        }
        &.opened{
            + .menu-tree{
                display: block;
            }
        }
        &.opened + .menu-tree{
            background: darken(#1e4867, 10%);
        }
        .item-name-text{
            display: block;cursor: pointer;transition: .3s;
            &:hover{
                color: #fff;
            }
        }
        > .btn{
            color: #fff;position: absolute;top: 0;right: 0;
        }
        + .menu-tree{
            display: none;
        }
    }
    .btn{
        outline: 0;
    }
}

//----------------------------------------------------
.wrapper-main{
    flex-grow: 1;
    flex-basis: 100%;
    &.flex-parent{
        flex-direction:column;padding: 0;
    }
}
.wrapper-main-inner{
    background: $color-neutral;padding: 0 1.5rem;
}

//----------------------------------------------------
.login-container{
    width: 40rem;max-width: 100%;margin: auto;
}
.logo-container{
    text-align: center;
}

//----------------------------------------------------
.box-wrapper{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    /*flex-grow: 1;*/
    flex-wrap: wrap;
    align-self:center;
    max-width: 60rem;margin: auto;
}
.box-item{
    flex-basis: 50%;
    padding: .1rem;
}
@keyframes anim-box-up{
    0%{
        opacity: 0;transform: translate3d(0, 5rem, 0);
    }
    100%{
        opacity: 1;transform: translate3d(0, 0, 0);
    }
}
@keyframes anim-box-down{
    0%{
        transform: translate3d(0, -2rem, 0);color: $color-primary;
    }
    100%{
        transform: translate3d(0, 0, 0);color: $color-neutral;
    }
}
.boxes{
    position: relative;width: 100%;height: 100%;display: block;text-align: center;color: $color-neutral;background-color: $color-primary;text-decoration: none;

    &:hover, &:focus{
        color: $color-neutral;text-decoration: none;background-color: darken($color-primary, 20%);
        > .glyphicon{
            animation: anim-box-up .3s;
            &:after{
                border-color: lighten($color-primary, 1%);
            }
        }
        > .title{
            animation: anim-box-down .3s;
        }
    }

    > .glyphicon{
        display: table;
        &:after{
            content: '';position: absolute;border-radius: 50%;border: .5rem solid $color-neutral;display: block;transition: .3s;
        }
    }
    > .title{
        display: block;
    }
}

//----------------------------------------------------
.switchbox-col{
    height: 30rem;overflow: auto;border: 1px solid $color-border;
}

//----------------------------------------------------
.checkbox-switchbox{
    input[type=checkbox], input[type=radio]{
        display: none;
        + label{
            word-break: break-all;display: inline;border-bottom: .1rem solid $color-neutral;background-color: $color-neutral;transition: .3s;display: block;
        }
        &:checked + label{
            background-color: $color-primary;color: $color-neutral;
        }
    }
}

//----------------------------------------------------
.wrapper-footer{
    text-align: center;margin-top: auto;
}


//----------------------------------------------------
@media (max-width: 1200px){
    .sidenav-overlay{
        position: fixed;width: 100%;height: 100%;top: 0;left: 0;background-color: #fff;background-color: rgba(225, 225, 225, 0.8);z-index: 5;

        .app-area.collapsed &{
            display: none;
        }
    }
    .wrapper-sidenav{
        position: fixed;width: 90%;height: 100%;top: 0;z-index: 5;

        .app-area.collapsed &{
            transform: translate3d(0, 0, 0);
        }
    }
}

@media (min-width: 768px){
    .modal-sm {
        width: 40rem;max-width: 100%;
    }
}

@media (max-width: 768px){
    /*.toolsarea-level1 .breadcrumb>li{
    width: 4rem;overflow: hidden;text-overflow: ellipsis;
}*/
}


@media (max-width: 480px){
    .box-item{
        flex-basis: 100%;
    }
}