<div class="wrapper-container">
    <div class="app-area">
        <!--main starts here-->
        <main class="wrapper-main">
            <div class="login-container">
                <div class="logo-container">
                    <img src="images/fbme-bank-logo.png" width="176" height="88" alt="FBME Logo">
                </div>
                <article class="panel panel-secondary relative-parent">
                    <header class="panel-heading">
                        <h1 class="panel-title" data-ng-bind="login.translation.aclg_Login">Login</h1>
                    </header>
                    <div class="panel-body">
                        <form class="form-lg" name="login.formLogin" data-ng-submit="login.onLoginSubmit()" novalidate>
                            <div class="form-group">
                                <label for="inputUsername" data-ng-bind="login.translation.aclg_Username">Username</label>
                                <input type="text" class="form-control" name="inputUsername" id="inputUsername" data-ng-model="login.user.name" required>
                                <div class="errinfo-wrapper">
                                    <span class="errinfo" data-ng-show="login.formLogin.inputUsername.$error.required && login.formLogin.inputUsername.$touched" data-ng-bind="login.translation.aclg_UsernameRequired">Please fill in the Usernaame.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" data-ng-bind="login.translation.aclg_Password">Password</label>
                                <input type="password" class="form-control" name="inputPassword" id="inputPassword" data-ng-model="login.user.password" required>
                                <div class="errinfo-wrapper">
                                    <span class="errinfo" data-ng-show="login.formLogin.inputPassword.$error.required && login.formLogin.inputPassword.$touched" data-ng-bind="login.translation.aclg_PasswordRequired">Please fill in the Password.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label data-ng-bind="login.translation.aclg_Language">Language</label>
                                <select class="form-control" data-ng-options="option.name for option in login.languagesAvailable" data-ng-model="login.selectedLanguage" data-ng-change="login.onLanguageChange()"></select>
                            </div>
                            <div class="submit-group">
                                <button type="submit" class="btn btn-primary btn-lg btn-block" data-ng-disabled="login.formLogin.inputUsername.$error.required || login.formLogin.inputPassword.$error.required" data-ng-bind="login.translation.aclg_Login">Login</button>
                            </div>
                            <a href="#" data-ng-bind="login.translation.aclg_ForgotPassword">Forgot Password?</a>
                        </form>
                    </div>
                    <ng-include src="'js/modules/common/commonTemplates/loader.template.html'" ng-show="login.isLoading"></ng-include>
                </article>
            </div>
            <footer class="wrapper-footer">
                <small class="foot-info">Copyright&copy;2017 FinnDocs Technologies Limited</small>
            </footer>
        </main>
        <!--main ends here-->
    </div>
</div>